<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>New Chapter</h1>
            <p>Current # of chapters: {{ categorycount }}</p>
        </div>
        <form class="formcontainer" ng-submit="onSubmit()">
            <formly-form model="category" fields="categoryFields" form="chapterForm">
                <button type="submit" class="btn btn-primary" ng-disabled="chapterForm.$invalid">Save</button>
            </formly-form>
        </form>
    </div>
</div>