<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1>{{ chapter.title }}</h1>
            <h3>{{ chapter.desc }}</h3>
            <a class="btn btn-primary" href="#/section/new?catid={{ chapter.id }}">Add a new section</a>
        </div>
        <div>
            <ul>
                <li class="nostyle text-center lead"><h1>Sections</h1></li>
            </ul>
            <ul>
                <li class="well nostyle text-center" ng-repeat="section in chapter.Sections">
                    <a href="#/section/{{ section.id }}">
                        <span><h2>{{ section.title }}
                            <a href="#/section/{{ section.id }}/edit?catid={{ chapter.id }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="#/section/{{ section.id }}/delete?catid={{ chapter.id }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </h2></span>
                    </a>
                    <h4>{{ section.desc }}</h4>
                </li>
            </ul>
        </div>
    </div>
</div>