<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1>Table of Contents</h1>
            <a class="btn btn-primary" href="#/chapter/new">Add a new chapter</a>
        </div>
        <div>
            <ul>
                <li class="nostyle text-center lead"><h1>Chapters</h1></li>
            </ul>
            <ol>
                <li class="well nostyle text-center" ng-repeat="category in contents">
                    <a href="#/chapter/{{ category.id }}">
                        <h2>{{ category.title }}
                            <a href="#/chapter/{{ category.id }}/edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="#/chapter/{{ category.id }}/delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </h2>
                    </a>
                    <h4>{{ category.desc }}</h4>
                </li>
            </ol>
        </div>
    </div>
</div>