<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>New Procedure in '{{ sectionTitle }}'</h1>
            <p>Current # of procedures in this section: {{ procedureCount }}</p>
        </div>
        <form class="formcontainer" ng-submit="onSubmit()">
            <formly-form model="procedure" fields="procedureFields" form="procedureForm">
                <button type="submit" class="btn btn-primary" ng-disabled="procedureForm.$invalid">Save</button>
            </formly-form>
        </form>
    </div>
</div>