<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1>{{ section.title }}</h1>
            <h3>{{ section.desc }}</h3>
            <a class="btn btn-primary" href="#/procedure/new?secid={{ section.id }}">Add a new procedure</a>
        </div>
        <div>
            <ul>
                <li class="nostyle text-center lead"><h1>Procedures</h1></li>
            </ul>
            <ul>
                <li class="well nostyle text-center" ng-repeat="procedure in section.Procedures">
                    <a href="#/procedure/{{ procedure.id }}">
                        <span><h2>{{ procedure.title }}
                            <a href="#/procedure/{{ procedure.id }}/edit?secid={{ section.id }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="#/procedure/{{ procedure.id }}/delete?secid={{ section.id }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </h2></span>
                    </a>
                    <h4>{{ procedure.desc }}</h4>
                </li>
            </ul>
        </div>
    </div>
</div>