<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>New Section in '{{ categoryTitle }}'</h1>
            <p>Current # of sections in this chapter: {{ sectioncount }}</p>
        </div>
        <form class="formcontainer" ng-submit="onSubmit()">
            <formly-form model="section" fields="sectionFields" form="sectionForm">
                <button type="submit" class="btn btn-primary" ng-disabled="sectionForm.$invalid">Save</button>
            </formly-form>
        </form>
    </div>
</div>