<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Versions of '{{ versions.title }}'</h1>
            <a class="btn btn-primary" href="#/version/new?proid={{ versions.id }}">Create a new version</a>
        </div> <!-- jumbotron -->
        <div>
            <ul>
                <li class="nostyle"><h2>Versions</h2></li>
            </ul>
            <ul>
                <li class="well nostyle" ng-repeat="version in versions.Versions">
                    {{ version }}
                </li>
            </ul>
        </div>
    </div> <!-- col-md-12 -->
</div> <!-- row -->