<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Versions of '{{ versions.title }}'</h1>
            <a class="btn btn-primary" href="#/version/new?proid={{ versions.id }}">Create a new version</a>
        </div> <!-- jumbotron -->
        <div>
            <ul>
                <li class="nostyle"><h2>Versions</h2></li>
            </ul>
            <ul>
                <li class="well nostyle" ng-repeat="version in versions.Versions">
                    <a href="#/version/{{ version.id }}">
                        <span>
                            <h3>
                                Version {{ version.number }}
                                <a href="#/version/{{ version.id }}/edit?proid={{ versions.id }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </h3>
                        </span>
                    </a>
                    <p>Effective Date: {{ version.effectiveDate | date:'MMMM dd, yyyy' }}</p>
                    <span ng-if="version.active == true">
                        <p>Active: Yes</p>
                    </span>
                    <span ng-if="version.active == false">
                        <p>Active: No</p>
                    </span>
                    <span ng-if="version.active == null">
                        <p>Draft Version</p>
                    </span>
                </li>
            </ul>
        </div>
    </div> <!-- col-md-12 -->
</div> <!-- row -->